In [ ]:
# Formação Cientista de Dados - Fernando Amaral e Jones Granatyr
# Gráfico de barras e setores

In [1]:
# Importação do pandas para leitura de arquivos .csv
import pandas as pd

In [2]:
# Carregamento da base de dados
base = pd.read_csv('insect.csv')
base.shape

(72, 2)

In [3]:
#dados
base.head()

   count spray
0     10     A
1      7     A
2     20     A
3     14     A
4     14     A

In [7]:
# Agrupamento dos dados baseado no atributo 'spray', contando e somando os registros
agrupado = base.groupby(['spray'])['count'].sum()
agrupado

       count
spray
A        174
B        184
C         25
D         59
E         42
F        200

In [ ]:
# Gráfico de barras
agrupado.plot.bar(color = 'gray')

In [ ]:
#cores
agrupado.plot.bar(color = ['blue','yellow','red','green','pink','orange'])

In [ ]:
# Gráfico de pizza
agrupado.plot.pie()

In [ ]:
#com legenda
agrupado.plot.pie(legend = True)