In [1]:
import numpy as np
import pandas as pd
from math import ceil

In [3]:
populacao = 150
amostra = 15
k = ceil(populacao/amostra)
k

10

In [6]:
r = np.random.randint(low = 1, high = k + 1, size = 1)
r

array([4])

In [7]:
acumulador = r[0]
sorteados = []
for i in range(amostra):
    sorteados.append(acumulador)
    acumulador+=k
sorteados

[4, 14, 24, 34, 44, 54, 64, 74, 84, 94, 104, 114, 124, 134, 144]

In [9]:
base = pd.read_csv('dados/iris.csv')
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
4             5.0          3.6           1.4          0.2      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa
54            6.5          2.8           4.6          1.5  Iris-versicolor
64            5.6          2.9           3.6          1.3  Iris-versicolor
74            6.4          2.9           4.3          1.3  Iris-versicolor
84            5.4          3.0           4.5          1.5  Iris-versicolor
94            5.6          2.7           4.2          1.3  Iris-versicolor
104           6.5          3.0           5.8          2.2   Iris-virginica
114           5.8          2.8           5.1          2.4   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica