# A ideia é pegar aleatoriamente amostragem dentro de Banco de Dados

## Importação dos packages

In [1]:
import pandas as pd
import numpy as np

## Leitura e Observação dos dados

In [2]:
base = pd.read_csv('dados/iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
base.shape

(150, 5)

Adiciona uma seed para geração aleatória de dados e cria valores em uma lista de 0 e 1
de tamanho 150, podendo ser repetidas, com probabilidade de 0 = 70% e 1 = 30%.

In [4]:
np.random.seed(2345)
amostra = np.random.choice(a = [0, 1], size = 150,
                            replace = True, p = [0.7, 0.3])

len(amostra)

150

In [5]:
len(amostra[amostra == 1])

49

In [6]:
len(amostra[amostra == 0])

101

Atribuimos os dados onde amostra == 0

In [7]:
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

In [8]:
base_final = base.loc[amostra == 1]
base_final.shape

(49, 5)