# Dessa vez o objetivo é pegar dados de forma estratificada, usando Pandas e train_test_split

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
iris = pd.read_csv('dados/iris.csv')
iris['class'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: class, dtype: int64

In [7]:
iris

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Agora iremos pegar estratificar e pegar os dados <br>
```py
iris.iloc[:, 0:4] => Pegamos somente os dados das pétalas e das sétalas
iris.iloc[:, 4] => Pegamos apenas as classes 
test_size é o tamanho em porcentagem do que queremos do BD
```

In [4]:
x, _, y, _ = train_test_split(
    iris.iloc[:, 0:4],
    iris.iloc[:, 4],
    test_size = 0.5,
    stratify = iris.iloc[:, 4]
)

y.value_counts()

Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: class, dtype: int64

In [8]:
infert = pd.read_csv('dados/infert.csv')
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [9]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [11]:
x1, _, y1, _ = train_test_split(
    infert.iloc[:, 2:9],
    infert.iloc[:, 1],
    test_size = 0.6,
    stratify = infert.iloc[:, 1]
)

y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64